<ion-header>
  <ion-toolbar color="brand-succes" class="toolbar-back">
      <ion-icon slot="end" name="close-circle"  (click)="dismiss()"></ion-icon>
    <ion-title color="primary" size="large">Localización Finca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-location">
  <ion-grid padding>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Latitud</ion-label>
          <ion-input type="text" name="farm_name" required autocomplete="off" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Longitud</ion-label>
          <ion-input type="text" name="farm_name" required autocomplete="off"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>