<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title ><b>Sesiones</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="background-color: #92949c;">
    <ion-card-header>
      <ion-card-title class="center">Actividades Pecuarias</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card style="background-color: #3dc2ff;">
    <ion-card-header>
      <ion-card-title class="center">Actividades Pesca</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card style="background-color: #2dd36f;">
    <ion-card-header>
      <ion-card-title class="center">Actividades Acuicultura</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card style="background-color: #ffc409;">
    <ion-card-header>
      <ion-card-title class="center">Actividades Agrícolas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card style="background-color: #5260ff;">
    <ion-card-header>
      <ion-card-title class="center">Actividades Lecheras</ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-content>
