<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title><b>{{ "inquest.title" | translate }}</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-grid *ngIf="inquestData">
      <!--Encuesta Dinámica-->
      <div *ngFor="let items of inquestData">
        <ion-row *ngIf="items.preguntas.length > 0">
          <ion-col class="center">
            <ion-title color="primary" class="title"><b>{{ items.nombre_agrupador}}</b></ion-title>
          </ion-col>
        </ion-row>
      
        <ion-row *ngFor="let items2 of items.preguntas; let i = index;">
          <ion-col>
            <ion-item *ngIf="items2.tipo_pregunta == 1 || items2.tipo_pregunta == 2">
              <ion-label position="stacked" class="show">{{ items2.pregunta }}</ion-label>
              <ion-select (ionChange)="setValue(items2.id_pregunta, $event)" class="padding-top" okText="{{ 'general.select' | translate }}" cancelText="{{ 'general.cancel' | translate }}">
                <ion-select-option *ngFor="let item of items2.respuestaspreguntas" value="{{item.id}}">{{item.respuesta}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="items2.tipo_pregunta == 3">
              <ion-label position="floating" class="show small">{{ items2.pregunta }}</ion-label>
              <ion-input type="text" (ionChange)="setValue(items2.id_pregunta, $event)" ></ion-input>
            </ion-item>
            <ion-item *ngIf="items2.tipo_pregunta == 4">
              <ion-label position="floating" class="show small">{{ items2.pregunta }}</ion-label>
              <ion-input type="number" (ionChange)="setValue(items2.id_pregunta, $event)" ></ion-input>
            </ion-item>
            <ion-item *ngIf="items2.tipo_pregunta == 5">
                <ion-label class="show small">{{ items2.pregunta }}</ion-label>
                <ion-input type="file" (ionChange)="setValue(items2.id_pregunta, $event)" accept="jpg, jpeg, png, pdf, doc"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" type="submit" (click)="validateFormInquest()">{{ "button.save" | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
