.borde {
    border-radius: 25px !important;
    overflow: hidden;
}

.fondo{
    background: #ffffff;;
  }
  
  .title{
    font-size: 30px;
  }

.logo {
    max-width: 150px;
    height: 150px;
    margin: auto;
    display: block;
  }

  .tabs{
    display: none;
  }

  ion-card {
    height: 96%;
    }