<ion-content padding class="fondo">
  <ion-grid class="padding-pri">
    <ion-row>
      <ion-col>
        <ion-img class="logo borde" src="../../assets/icon/icon.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center">
        <ion-title color="primary" class="title">{{ "login.login" | translate }}</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{ "farm.documento_tecnico" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
          <ion-input type="text" [(ngModel)]="documento_tecnico" required autocomplete="off"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{ "farm.name" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
          <ion-input type="text" [(ngModel)]="farm_name" required autocomplete="off"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="d-flex">
        <ion-item>
          <ion-label position="stacked">{{ "general.departments" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
          <ionic-selectable
            [(ngModel)]="department"
            [items]="departments"
            itemValueField="id_departamento_dane"
            itemTextField="nombre_departamento"
            [hasVirtualScroll]="true"
            closeButtonText="Cancelar"
            [canSearch]="true"
            (onChange)="getCity($event)">
          </ionic-selectable>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="d-flex">
        <ion-item>
          <ion-label position="stacked">{{ "general.city" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
          <ionic-selectable
            [(ngModel)]="city"
            [items]="citys"
            itemValueField="id_municipio_dane"
            itemTextField="nombre_municipio"
            [hasVirtualScroll]="true"
            closeButtonText="Cancelar"
            [canSearch]="true"
            (onChange)="getSideWalk($event)"
            >
          </ionic-selectable>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="d-flex">
        <ion-item>
          <ion-label position="stacked">{{ "general.sideWalk" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
          <ionic-selectable
            [(ngModel)]="sideWalk"
            [items]="sideWalks"
            itemValueField="id"
            itemTextField="nombre"
            [hasVirtualScroll]="true"
            closeButtonText="Cancelar"
            [canSearch]="true">
          </ionic-selectable>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="padding-pri">
    <ion-row>
      <ion-col>
        <ion-label position="stacked" class="small">{{ "general.location" | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" size="small" (click)="getActuallyLocation()">{{ "button.get" | translate }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning" expand="block" size="small" (click)="modalEnterLocation()">{{ "button.enter" | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" type="submit" (click)="validateFormLogin()">{{ "button.init" | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>