.borde {
  border-radius: 25px !important;
  overflow: hidden;
}

.fondo{
  background: #ffffff;
}
  
.title {
  font-size: 30px;
}

.logo {
  max-width: 300px;
  height: 120px;
  margin: auto;
  display: block;
}

.tabs {
  display: none;
}

.small {
  font-size: small;
  color: grey;
}

.padding-pri{
  padding-left: 3%;
  padding-right: 3%;
}