.show{
    white-space: normal !important;
}

.padding-top{
    padding-top: 15px !important;
}

.small{
    font-size: small;
}

.show.sc-ion-label-md-h.sc-ion-label-md-s.md.label-stacked.hydrated{
    display: contents;
}

.content{
    display: contents;
}