.borde {
    border-radius: 25px !important;
    overflow: hidden;
}

.fondo{
    background: #FAFAFA;;
  }
  
  .title{
    font-size: 30px;
  }

.logo {
    max-width: 150px;
    height: 150px;
    margin: auto;
    display: block;
  }
