<ion-content padding>
  <form (ngSubmit)="login()">
    <ion-card>
      <ion-card-content class="fondo">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img class="logo borde" src="../../assets/icon/icon.jpg"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="center">
              <ion-title color="primary" class="title">Ingreso</ion-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Nombre de la finca</ion-label>
                <ion-input type="text" name="farm_name" required autocomplete="off"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="d-flex">
              <ion-item>
                <ion-label position="stacked">Vereda</ion-label>
                <ion-select placeholder="" okText="Seleccionar" cancelText="Cancelar">
                  <ion-select-option value="0">Manizales-La Siria</ion-select-option>
                  <ion-select-option value="1">Manizales-La Linda</ion-select-option>
                  <ion-select-option value="2">Manizales-La pava</ion-select-option>
                  <ion-select-option value="3">Anserma-Aguabonita</ion-select-option>
                  <ion-select-option value="4">Anserma-Alejandria</ion-select-option>
                  <ion-select-option value="5">Anserma-Betania</ion-select-option>
                  <ion-select-option value="6">Aranzazu-La Floresta</ion-select-option>
                  <ion-select-option value="7">Aranzazu-Naranjal</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label position="stacked">Localización</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="success" shape="round" expand="block" >Obtener</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="warning" shape="round" expand="block" >Ingresar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="primary" shape="round" expand="block" type="submit">Iniciar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>